* {
  margin: 0;
  padding: 0;
}
.element-container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
.heading {
  font-size: 75px;
  font-weight: bolder;
  color: #1e293b;
  margin-top: 45px;
  font-family: Bree Serif;
  margin-bottom: 45px;
}
.input-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7b8794;
  border-radius: 12px;
  border-style: solid;
  border-color: #7b8794;
  column-gap: 40px;
  height: 40px;
  border-width: 1px;
  padding: 15px;
}
.input {
  border: none;
  background-color: transparent;
  height: 40px;
  color: #7b8794;
}
.search-icon {
  height: 40px;
}
.app-item-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 700px;
  row-gap: 25px;
  column-gap: 25px;
  background-color: transparent;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .app-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 500px;
    row-gap: 25px;
    column-gap: 25px;
    background-color: transparent;
    height: fit-content;
  }
}
@media screen and (min-width: 992px) {
  .app-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 900px;
    row-gap: 25px;
    column-gap: 25px;
    background-color: transparent;
    height: fit-content;
  }
}
.tab-item-container {
  list-style: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
}
