/* Write your CSS here */
.tab-btn {
  padding: 25px;
  border: none;
  border-bottom: solid;
  border-color: #7b8794;
  color: #7b8794;
  font-size: medium;
  font-weight: bold;
}
li {
  background-color: transparent;
}
.active-tab-btn {
  color: #2563eb;
  border-color: #2563eb;
}
